.sidebar_data
  %p.sidebar_heading
    Publisher
  %p.sidebar_value
    =issue.publisher.name
  %p.sidebar_heading
    Release Date
  %p.sidebar_value
    =link_to  issue.release.date.stamp("August 31, 1988"), release_path(issue.release)
  - if issue.price
    %p.sidebar_heading
      Price
    %p.sidebar_value
      =issue.price
