.sidebar_data
  %p.sidebar_heading
    Publisher
  %p.sidebar_value
    =issue.publisher.name
  %p.sidebar_heading
    Run
  %p.sidebar_value
    =series_range(issue.series)
  - if issue.price
    %p.sidebar_heading
      Price
    %p.sidebar_value
      =issue.price
