#lateral-nav
  =link_to release_path(previous_release), class: "lateral-navigation-button #{navigation_helper(previous_release)}", id: "nav-left" do
    %i.icon-chevron-left
    %span
      Last Week

  =link_to release_path(next_release), class: "lateral-navigation-button #{navigation_helper(next_release)}", id: "nav-right" do
    %span
      Next Week
    %i.icon-chevron-right
