#comic_release_nav
  .previous{style: navigation_helper(data.previous)}
    =link_to release_path(data.previous), class: "lateral-navigation-button", id: "nav-left" do
      = fa_icon "chevron-left"
      %span
        Last Week

  .next{style: navigation_helper(data.next)}
    =link_to release_path(data.next), class: "lateral-navigation-button", id: "nav-right" do
      %span
        Next Week
      =fa_icon "chevron-right"
