- if user
  - if release.subscribed_issues.empty?

    %h2.list-header Nothing on your list this week.Try something new!
    %ul#also-arriving.comic-list
      - release.unsubscribed_issues.each do |issue|
        = render partial: 'shared/comic', locals: {user: user, issue: issue}
  -else

    %ul#your-pulls.comic-list
      %h2.list-header Your Pulls
      - release.subscribed_issues.each do |issue|
        = render partial: 'shared/comic', locals: {user: user, issue: issue}

    %ul#also-arriving.comic-list
      %h2.list-header Also Arriving This Week
      - release.unsubscribed_issues.each do |issue|
        = render partial: 'shared/comic', locals: {user: user, issue: issue}

- else
  %ul#released-comics.comic-list
    - release.issues.each do |issue|
      = render partial: 'shared/comic', locals: {user: user, issue: issue}
