%ul#your-pulls.comic-list
  %h2.list-header
  - release.subscribed_issues.each do |issue|
    = render partial: 'shared/comic', locals: {user: user, issue: issue}

%ul#released-comics.comic-list
  %h2.list-header
  - release.unsubscribed_issues.each do |issue|
    = render partial: 'shared/comic', locals: {user: user, issue: issue}


:javascript
  $(function(){
    new WednesdayShelf.AddOrRemoveToPullList("ul#your-pulls", "ul#released-comics", #{current_user.present? ? true : false});
  });

