%li.comic{id: issue.diamond_number, data:{name: issue.clean_title}}
  .card-flip-container
    .front
      =image_tag(issue.hero_cover.grid_cover.url, class: "comic-issue-cover")
    .back
      .title= issue.clean_title
      .lower-buttons
        %a.card-link.js-card-link{data: {id: issue.id}}
        =link_to 'More Info', issue_path(issue.id),class: ' card-link'

