%li.comic{id: issue.diamond_number}
  =link_to issue_path(issue), class: "issue_link" do
    =image_tag(issue.hero_cover.grid_cover.url, class: 'comic-issue-cover')
  = link_to comic_info_link(user, issue), class: 'comic-info' do
    .title= issue.clean_title
    .pull_it_text= pull_it_text(user, issue)
