#nav-header
  .interface_pane
    = image_tag('ws_logo.png')
  .info_pane
    %ul.nav
      %li.nav-item.sign-up
        Sign Up
      %li.nav-item.sign-in
        Sign In
      %li.nav-item
        About
      %li.nav-item
        Blog
