.fixed
  %nav.top-bar(data-topbar)
    %ul.title-area
    %section.top-bar-section
      %ul.right
        %li
          %a Login
        %li
          %a Sign In
      %ul.left
        %li
          %a Test 1

