<% @issues.each_with_index do |issue, i| %>
    <div class="cover_box">
      <%= image_tag "covers/#{issue[1][0].diamond_no}.png", {:class => "home_comic_cover"} %>
      <div class="anchor">
        <p class="issue_text"> <%= issue[1][0].title.titleize  %></p>
      </div>
    </div>
 <%end%>  <%#end of issues block%>
