  <% @issues.keys.each do |series| %>
      <li class="cover_box <%= series.publisher.name.gsub(" ", "_")%> ">
        <div class="anchor ">
        <%= image_tag "https://s3.amazonaws.com/wscovers/#{@issues[series].diamond_no}.png", {:class => "home_comic_cover"} %>
        </div>
        <p class="issue_text"> <%= @issues[series].title.titleize  %></p>
      </li>
   <%end%>  <%#end of issues block%>
