<% @books.each_with_index do |book, i| %>
  <% if i == 0  %>
    <div class="row">
  <% end  %>
  <%if i%6 == 0 and i != 0  %>
    </div>
    <div class="row">
  <% end %>
    <div class="two columns">
      <div class="cover_box">
        <%= image_tag book[1][0].local_link, {:class => "home_comic_cover"} %>
      </div>
    </div>
  <% if i == @books.size - 1 %>
    </div>
  <% end %>
<%end%>
