- content_for :header do
  = @home.current_release.pretty_date

-content_for :sidebar do
  = render partial: 'shared/sidebar/release_navigation', locals: {previous_release: @home.previous_release, next_release: @home.next_release}

%ul#comic-list
  = render partial: 'shared/comic', collection: @home.current_release.issues, as: :issue

