<div class="shelves">
  <div class ="publisher" id="DC_COMICS">
    <% @release.keys.each do |publisher| %>
      <% @issues = @release[publisher] %>
      <% publisher = publisher.gsub(" ", "_") %>
      <div class=" row" >
        <div data-magellan-destination="<%= publisher %>" class="pub_logo four column centered">
          <%= image_tag "logos/#{publisher}_logo.png", {:class => "logo_img", :id => "#{publisher}_logo"} %>
        </div>
      </div>
      <%= render "series_loop" %>
    <% end %>
  </div>
</div>
