<div class="shelves">
  <% @release.keys.each do |publisher| %>
    <% @issues = @release[publisher] %>
    <% publisher = publisher.gsub(" ", "_") %>
    <div class ="publisher" id= <%= publisher %> >
      <div class="pub_logo">
        <h1> <%= publisher.titleize %> </h1>
        <%#<%= image_tag "logos/#{publisher}_logo.png", {:class => "logo_img", :id => "#{publisher}_logo"} %>
      </div>
      <%= render "series_loop" %>
    </div>
  <% end %>
</div>
