#splash-container
  .teaser-text
    %h1
      See 
      %span
        W
      hat's Coming.
    %p
      Wednesday is Comic Day.
    %p
      %span
        WednesdayShelf
      is here to manage it for you.
    %p
      Sign up below 
      = link_to 'http://wednesdayshelf.tumblr.com' do
        or check out the blog
      to hear more.

  .call-to-action
    #mc_embed_signup
      =form_tag 'http://wednesdayshelf.us7.list-manage.com/subscribe/post?u=42b12a1568382790ff1b506b6&amp;id=eadf96562b', method: :post, id: "mc-embedded-subscribe-form", name: "mc-embedded-subscribe-form", class: "validate custom cta-form", target: "_blank", novaidate: true do
        .list-signup-inputs
          =email_field_tag 'EMAIL', '', type: 'email', class: 'email email-input', id: 'mce-mceEMAIL', placeholder: 'Email Goes Here', class: 'cta-email-input', required: true
          .list-signup
            =button_tag type: 'submit', value: 'Subscribe', name: 'subscribe', id:'mc-embedded-subscribe', class: 'list-signup-button' do
              Pull It

    %p.legal
      We won't spam you. We Love you.
    =link_to 'http://github.com/alxjrvs' do
      %p.legal
        Made by This Guy.
    =link_to 'http://comicazi.com/site/' do
      %p.legal
        We <3 Comicazi.
