<ul id=comic-list>
  {{#each issue in week.issues}}
    {{#view WS.GridComicView issueBinding="this"}}
    <img {{bindAttr src="issue.grid_cover_url"}} class='comic-issue-cover' >
    <div class='comic-info'>
      <p>{{issue.title}}</p>
      <p>{{issue.diamond_number}}</p>
    </div>
    {{/view}}
  {{/each}}
</ul>
