<div id=release-nav>
  {{#linkTo 'week' week.previous}}
  <div id=nav-left {{bindAttr class=hasPrev:nav-enabled:nav-disabled}}>
    <i class=icon-chevron-left></i>
    <span>
      Previous Week
    </span>
  </div>

  {{/linkTo}}
  {{#linkTo 'week' week.next}}
  <div id=nav-right {{bindAttr class=hasNext:nav-enabled:nav-disabled}}>
    <span>
      Next Week
    </span>
    <i class=icon-chevron-right></i>
  </div>

  {{/linkTo}}
</div>
