h2.list-header
  text-align: center
ul.comic-list
  text-align: center
  background-color: $white

  li.comic
    +clearfix
    position: relative
    margin-bottom: $bar-mobile-height
    overflow: hidden

    .comic-issue-cover
      max-width: none
      min-width: 100%

@media #{$small}
  ul.comic-list
    +block-grid(4)

    li.comic
      max-height: 500px
      position: relative

      a.issue_link
        width: 145px
        display: block
        margin: 0 auto
        overflow: hidden

        .comic-issue-cover
          height: 200px
          position: relative
          margin: 0 auto

      form.comic-info
        +clearfix
        margin: 0 auto
        left: 0
        right: 0
        bottom: 0
        position: absolute
        color: $white
        background: $secondary-blue
        min-width: 145px
        max-width: 145px
        height: 28px

        .title
          display: block
        .pull_it_text
          display: none
        &:hover
          .title
            display: none
          .pull_it_text
            display: block
            background: $secondary-blue
            color: $white
            font-size: 16px
            border: 0
            height: 100%
            width: 100%
            outline: 0
            text-align: center
            cursor: pointer

@media #{$medium}
  ul.comic-list
    +block-grid(4)

    li.comic

      a.issue_link
        width: 215px

        .comic-issue-cover
          height: 300px

      form.comic-info
        min-width: 215px
        max-width: 215px
