body, html
  height: 100%

body
  font-family: 'Roboto', sans-serif
  +grid-row
  background: $white

h1, h2, h3, h4, h5, h6, p
  font-family: 'Roboto', sans-serif
  color: $black

#flash-box
  text-align: center

#content
  +grid-column(12)
  height: 100%
  background-color: $white
  @media #{$small}
    +grid-column(9, $push: 3)
    padding-top: $bar-mobile-height
a
  color: $secondary-blue

.button
  +ws-button
