// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.row.first {
  margin-top: -20px;
}

.left {
  float:left !important;
}

.pub_logo {
  position:relative;
  padding:0 0 10px 0;
}

.logo_img {
  display: block;
  max-height: 150px;
  margin: 0 auto;
}

.publisher{
  margin: 5% 0 0 0;
}

.cover_box {
  position:relative;
  height: 240px;
  margin:1px;
  z-index: 2
}

.home_comic_cover {
  position: absolute;
  bottom:0;
  -webkit-box-shadow: 0px 5px 10px rgba(50, 50, 50, 0.55);
  -moz-box-shadow:    0px 5px 10px rgba(50, 50, 50, 0.55);
  box-shadow:         0px 5px 10px rgba(50, 50, 50, 0.55);
}

.issue_text {
  position:absolute;
  width:80%;

}


@media only screen and (max-width: 767px) {
.left {
  float:inherit;
}

 }

/*Special styles*/
