// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.cover_box {
  width:20%;
  height: 240px;
  display: block;
  float:left;
  margin: 30px 0 0 0;
  position:relative;
 }

.home_comic_cover {
  -webkit-box-shadow: 0px 0px 30px rgba(50, 50, 50, 0.73);
  -moz-box-shadow:    0px 0px 30px rgba(50, 50, 50, 0.73);
  box-shadow:         0px 0px 30px rgba(50, 50, 50, 0.73);
  position:absolute;
  bottom: 0;
}

.home_comic_cover:hover {
  -webkit-box-shadow: 0px 0px 30px rgba(0, 51, 255, 0.73);
  -moz-box-shadow:    0px 0px 30px rgba(0, 51, 255, 0.73);
  box-shadow:         0px 0px 30px rgba(0, 51, 255, 0.73);
}

.shelves {
  margin:30px 0 0 0;
}

.sidebar_container {
  background:black;
  -webkit-border-radius: 0px 0px 180px 180px;
  border-radius: 0px 0px 180px 180px;
  height:80%;
  margin: -10px 0 0 0;
  position: fixed;
  width:inherit;
 }

.title_text {
  font-size:60px;
  line-height:55px;
  color: white;
  clear:both;
 }

.title_text.top {
  text-align:left;
}

.title_text.middle {
  text-align:center;
}

.title_text.bottom {
  text-align:right;

}
