.top-bar ul > li a:not(.button) {
  padding: 0px;
  font-size: 26px  !important;
}
.top-bar ul > li {
  text-align:center;
  float:none
}

.active {
  display:block;
}
.magellan-top {
  position: relative;
}

