
body {
  background: url('/assets/retina_wood.png');
 }

.header {
  color:white;
  text-align: center;
  width:100%;
  background:black;
  height:5%;
  h1 {

  }
}

img.logo_img {
  margin-top: 5px;
  vertical-align: middle;
  display: block;
  float:left;
  width:40px;
}

.top-bar > ul .name h1 {
  line-height: 45px;
  margin: 0;
  float:right;
}

.top-bar > ul .name img {
  margin-top: 0px;
  vertical-align: middle;
}


.subhead {
  color: white;
  line-height: 49px;
  vertical-align: middle;
  font-size: 17px;
  padding: 0 2px;
}

.top-bar ul > li:not(.name):hover, .top-bar ul > li:not(.name).active {
  background:inherit;
}

footer {
  text-align: center;
  margin: 10px 0;
}
