#bar
  width: 100%
  position: fixed
  height: $bar-mobile-height
  color: $white
  background: $blue
  z-index: $top

  #logo-container
    display: none

  #header
    +grid-column(8, $center: true)
    padding-top: 8px
    text-align: center

  nav#main-nav

    #lateral-nav
      .nav-disabled
        visibility: hidden

      .lateral-navigation-button
        i
        span
          display: none
      #nav-left
      #nav-right

  @media #{$small}
    +grid-column(3)
    position: fixed
    height: 100%
    padding: 0
    background: whitesmoke

    .inner-bar-content
      +grid-column(10, $center: true)
      height: 96%

      #logo-container
        display: block
        background: $blue
        width: 100%
        height: 180px
        position: relative
        margin-top: 35px

      #header
        width: 100%
        padding-top: 10px
        color: $black

      nav#main-nav
        +grid-row
        height: 100%
        position: relative
        +clearfix

        #generate-user
          position: absolute
          width: 100%
          bottom: 375px
          +clearfix

          .sidebar-button
            +grid-column(12)
            +ws-button

        #lateral-nav
          +grid-column(12, $collapse: true)
          position: absolute
          bottom: 315px

          .lateral-navigation-button
            +ws-button
            +grid-column(6)
            margin: 0

            span
              display: none
            i
              display: inline-block

            &:hover
              span
                display: inline-block
              i
                display: none

          #nav-left
          #nav-right


  @media #{$medium}

    .inner-bar-content
      margin-right: 5%
      #logo-container
        height: 240px

      #header

      nav#main-nav
        #lateral-nav
          .lateral-navigation-button
            i, span
          #nav-left
          #nav-right

