.modal-title {
  text-align: center;
  font-size: 20px;
}

.modal_comic_cover {
  -mox-box-shadow:2px 6px 8px rgba(50, 50, 50, 0.57);
  -webkit-box-shadow:2px 6px 8px rgba(50, 50, 50, 0.57);
  box-shadow:2px 6px 8px rgba(50, 50, 50, 0.57);

}

.creator_text {
  font-style:italic;
}

.reveal-modal.xlarge {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}

.info-label{
  padding-right: 0px;
}
.info-text {
  padding-left: 0px;
}

