#comic_release_nav
  position: fixed
  bottom: 0px
  width: 99%
  text-align: center

  .previous
    margin-right: -4px

  .next
    margin-left: -4px

  .date
    position: relative
    display: inline-block
    background: $blue
    color: white
    font-size: 19px
    padding-top: 12px
    padding-bottom: 8px
    padding-left: 10px
    padding-right: 10px

  .next, .previous
    +color-on-hover($blue)
    display: inline-block
    text-align: center
    padding: 0 20px
    min-width: 130px
    height: 35px
    font-size: 17px

    a
      span
        padding-top: 10px
        display: inline-block
        position: relative
        color: white
      i.fa
        color: white
        position: relative
        top: 1px
