#comic_release_nav
  position: fixed
  bottom: 0px
  width: 98%
  text-align: center

  .previous
    margin-right: -4px

  .context
    display: inline-block
    min-width: 75px
    margin-bottom: -11px

    #context-box
      width: 100px
      height: 100px
      background: $blue
      display: block

  .next
    margin-left: -4px

  .next, .previous
    display: inline-block
    text-align: center
    background: $secondary-blue
    padding: 0 20px
    min-width: 130px
    height: 35px
    font-size: 17px

    a
      span
        padding-top: 10px
        display: inline-block
        position: relative
        color: white
      i.fa
        color: white
        position: relative
        top: 1px
    &:hover
      background: $blue


