// Place all the styles related to the Static controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$fontcolor: #111;

#comicfronts {

  margin: 0 auto;
  display:block;

}

h1.subhead { 
  text-align:center;
  color:$fontcolor;

 }
