<% content_for :nav do %>
<ul class="left">
  <li><p class="subhead"> Comics coming </p></li>
  <li class = "has-dropdown">
    <p class="subhead"> <%= @release_date%></p>

  </li>
</ul>

<ul class="right">
</ul>
<% end %>

<div class="container nine columns centered">
  <div class="shelves">
    <ul class="block-grid six-up mobile ">
      <%= render "series_loop" %>
    </ul>
  </div>
</div>
<%= render "issue_detail_modal" %>
