#generate-user
  %a{href: '', class: "sidebar-button", id: "sign-in", ng: {click: "showSignIn()"} } Sign In
  %a{href: '', class: "sidebar-button", id: "create-account", ng: {click: "showCreateAccount()"} } Create Account
